behaviors:
  EscapeFromMaze:
    trainer_type: ppo
    hyperparameters:
      batch_size: 128
      buffer_size: 2048
      learning_rate: 0.00003
      beta: 0.01
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 3
      learning_rate_schedule: linear
    network_settings:
      normalize: false
      hidden_units: 64
      num_layers: 1
      vis_encode_type: simple
    reward_signals:
      extrinsic:
        gamma: 0.85
        strength: 1.0
      curiosity:
        gamma: 0.99
        strength: 0.08
        network_settings:
          hidden_units: 32
        learning_rate: 0.0008
    keep_checkpoints: 5
    even_checkpoints: true
    max_steps: 10000000
    time_horizon: 128
    summary_freq: 50000
